@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    width: 100vw;
    background: #eaeaff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}



.card {
    background: #fb5200;
    width: 450px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 12px 0px #947c7c;
}

h2 {
    font-size: 40px;
}

h4.counter {
    font-size: 35px;
    margin: 20px 0;
}

.buttons a {
    color: black;
    text-decoration: none;
    margin: 0 26px;
    font-size: 23px;
    background: white;
    padding: 0 20px;
    border-radius: 6px;
    font-weight: 700;
}
.buttons a:hover {
    background: brown;
    transition: .4s;
    color:white
}